<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Escola</title>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />

<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

</head>
<body class="grey lighten-3">

	<h1 class="main-title center">Bem vindo a escola Online</h1>
	
	<BR/><BR/>

	<div class="row center">
		<a href="aluno/cadastrar">
			<div class="col s12 m4 l4  waves-effect waves-light ">
				<div class="card-panel hoverable z-depth-1 center grey lighten-4">
					<i class=" large material-icons orange600">face</i>
					<div class="truncate">Cadastrar Alunos</div>
				</div>
			</div>
		</a> <a href="/aluno/listar">
			<div class="col s12 m4 l4  waves-effect waves-light ">
				<div class="card-panel hoverable z-depth-1 center grey lighten-4">
					<i class="large material-icons ">dehaze </i>
					<div class="truncate">Listagem de Alunos</div>
				</div>
			</div>
		</a>
<!-- 		<a href="/aluno/editar"> -->
<!-- 			<div class="col s12 m4 l4  waves-effect waves-light "> -->
<!-- 				<div class="card-panel hoverable z-depth-1 center grey lighten-4"> -->
<!-- 					<i class="large material-icons ">edit </i> -->
<!-- 					<div class="truncate">Editar de Aluno</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</a> -->
	</div>
	
	
<!-- 	 <footer class="page-footer"> -->
<!-- 		<div class="footer-copyright"> -->
<!--             <div class="container"> -->
<!--            	 ©2020 Copyright -->
<!--             </div> -->
<!--           </div> -->
<!--         </footer> -->

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>