<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link type="text/css" rel="stylesheet"
	href="../materialize/css/materialize.min.css" media="screen,projection" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<title>EscolAlura</title>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../js/inicializar.js"></script>

<script type="text/javascript" src="../js/googlemaps.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

</head>
<body class="grey lighten-3">
	<div id="formularioEdicao" class="container">
		<h3 class="main-title center">Error</h3>
		<div class="form-control" align="center">
			<img src="loading.gif" alt="Olá Mundo"
				onerror="this.src='https://miro.medium.com/max/700/1*pUEZd8z__1p-7ICIO1NZFA.png';">
		</div>

	</div>
	<!-- Volta para a pagina inicial -->

	<a th:href="@{/}">voltar para paginia inicial</a>

	<script type="text/javascript"
		src="../materialize/js/materialize.min.js"></script>
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIPw0BOFbsavl2S0XJm366GqIL8WaL4xw&amp;libraries=places&amp;callback=autoComplete"></script>

</body>
</html>


